*{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
  }
  header{
    background-color: #242424;
    background-image: url(../assets/images/background.jpg);
    height: 12vh;
    background-size: cover;
    background-position: top;
  }
  
  body{
    background-color: #242424;
    background-image: url(../assets/images/background.jpg);
    height: 100%;
    background-size: cover;
    background-position: top;
  }
  
  ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
  }
  
  ul li{
    display: inline-block;
  }
  
  ul li a{
    background-color: #242424;
    text-decoration: none;
    color: #fff;
    padding: 25px 10vh;
    border: none;
  }
  
  ul li a:hover{
    background: linear-gradient(180deg, #242424 0%, #242424 25%, #7c003b 100%);
    color: #fff;
    transition: 0.6s ease-in;
  }
  
  ul li.active a{
    background: linear-gradient(180deg, #242424 0%, #242424 25%, #7c003b 100%);
    color: #fff;
  }
  
  .logo img{
    float: left;
    width: 100px;
    height: auto;
    margin: 3px 5px;
  }
  
  .main{
    max-width: 1366px;
    margin: auto;
  }
  
  
  /* for services */
  
  
  .servicegrid{
      display: inline-block;
  }
  
  .servicegrid .servicecontainer{
    display: inline-block;
    background-color: #fff;
    width: 300px;
    height: 375px;
    margin: 5px 5px;
    padding: 1px 1px;
    vertical-align: top;
  }
  
  .spic img{
    display: block;
    width: 250px;
    height: auto;
  }

  .spic img:hover{
    color: #242424;
    opacity: 0.25;
    transition: 0.5s;
  }
  
  .shigh{
    display: block;
    position: relative;
    top: 32px;
    left: -80px;
    background-color: #242424;
    color: #fff;
    width: 70px;
    height: 16px;
    padding: 5px 3px 8px 3px;
  }

  .shigh text{
    text-align: center;
  }

  .shigh:hover{
    background-color: #fff;
    color: #858585;
    transition: 0.3s ease;
  }

  .slow{
    display: block;
    position: relative;
    top: 32px;
    left: -80px;
    background-color: #242424;
    opacity: 0;
    color: #fff;
    width: 70px;
    height: 16px;
    padding: 5px 5px 5px 5px 5px;
  }

  .sname{
      color: #242424;
      font-size: 21px;
      margin-left: 5px;
  }
  .sname:hover{
        color: #ff5cc0;
        transition: 0.3s ease;

  }

  .sdesc{
      margin-left: 5px;
  }

  .sprice{
    margin-left: 5px;
  }
  
  