{% load static %}
{% static "media/" as baseUrl %}
<!DOCTYPE html>
<html>
  <head>
    <title>Real Shapes</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/styles.css' %}">
    <link rel = "icon"  href = "{% static 'assets\logo\favicon.ico' %}">
  </head>
  <body>
    <header>
      <div class = "main">
        <div class = "logo">
          <a href = "/">
            <img src= "{% static 'assets\logo\RS-Logo.png' %}">
          </a>
        </div>
        <div>
          <ul>
              <li><a href = "/">Home</a></li>
              <li><a href = "about">About Us</a></li>
              <li class= "active"><a href = "services">Services</a></li>
              <li><a href = "contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </header>

    <!--List of services starts here-->
    <table>
    </table>
    <br>
    <div class = "servicegrid">
    {% for service in service %}
      <div class = "servicecontainer">
        <div class = "sname"><h2>{{service.servname}}</h2></div>
        <div class = "spic" align = "center">
          {% if service.servishigh%}
            <div class = "shigh">
              <text>HOT!!!</text>
            </div>
          {% else %}
            <div class = "slow">
              <text></text>
            </div>
          {% endif %}
          <a href = "#"><img src = "{{service.servpic.url}}"></a>
        </div>
        <div class = "sdesc">{{service.servdesc}}</div>
        <br>
        <div class = "sprice"><b><strong>Starting Price:</strong> Rs {{service.servcost}}/-</b></div>
        <br>
        <div class = "order"><a href = "contact"><b>Order Now</b></a></div>
      </div>
    {% endfor %}
    </div>

    <div class = "footdiv">
    <table class = "foot" align = "left" width= 100%>
      <tr align = "left" width= 100%>
        <td align = "left" width= 50%>
          <text class = "foottext" align = "left">
            Ozarapara (near Gadhuli Market & Azara Police Station)<br>
            Kamrup (metro) - 781028<br>
            Ph: +91 70027 63419<br>
            eMail: realshapes854@gmail.com<br>
          </text>
        </td>
        <td align = "right" width= 50%>
          <text class = "foottext" align = "right">
            (c) 2020 Real Shapes<br>
            Designed, developed & maintained by <a class = "hyper" href = "https://www.mantraaxom.com">Mantra Associates</a><br>
          </text>
        </td>
      </tr>
    </table>
    </div>
    
  </body>

</html>
